/* @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); */

* { box-sizing: border-box; margin-top: 0; }
*:last-child { margin-bottom: 0; }
/*
This didn't work, bummer.  Non-layer'd styles (root-of-file) take precedence, no matter what?

@layer override { *:last-child { margin-bottom: 0; } }
@layer base, override;
*/

html { height: 100%; }
body { min-height: 100%; margin: 0; padding: 0; }


p { line-height: 2; margin-bottom: 1em; }

h1 { font-size: 3em; margin-bottom: 0.75em; font-weight: 900; line-height: 1.4;}
h2, h3 { line-height: 1.6em; }

#main { flex: 1; }
#main.pad { padding: clamp(1em, 3%, 3em); }

.flex { display: flex; }
.flex-1 { flex: 1; }
.flex-v { flex-direction: column; }
.flex-h-center { justify-content: center; }
.flex-v-center { align-items: center; }

.mb-1 { margin-bottom: 1em; }


#main .card { background: white; max-width: 1042px; flex: 5; padding: clamp(2em, 6%, 5em) clamp(3em, 7%, 6em); }

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.sidenav { background: white;}
.sidenav .logobar { display: flex; align-items: center; padding: 1.6em 3.2em 1.4em 1.7em; gap: 0.7em;  cursor: pointer; }
.sidenav .logobar:hover { background: #eee; }
.sidenav .logobar .title { flex: 1; font-weight: 700; }
.sidenav .logobar .close {}
.sidenav .logo { height: 24px; cursor:pointer; }

.sidenav .nav .nav-item { text-decoration: none; font-weight: 500; color: var(--bg); padding: 0.7em 1.8em; display: block; }
.sidenav .nav .nav-item:hover { background: #eee; }

.page-framework {  }
.page-framework .sidenav .logobar {}
.page-framework .sidenav .logobar:hover { background: white; }
.page-framework .sidenav .logobar .logo { padding: 0.25em 0.5em; height: 2em; }
.page-framework .sidenav .logobar .logo:hover { background: rgba(0,0,0,0.1); }
.page-framework .sidenav .logobar .title { padding: 0.25em 0.5em; }
.page-framework .sidenav .logobar .title:hover { background: rgba(0,0,0,0.1); }
