.test { background: rgba(0,0,0,0.1); max-width: 1000px; margin-bottom: 1em; }
.test > .name { cursor: pointer; background: var(--bg-minus-10); color: white; padding: 0.5em 1em; font-size: 0.8em; }
.test.ran > .container { padding: 1em; }

.test-assert {
	font-size: 0.7em;
	padding: 0.6em 1em 0.4em;
	font-family: Consolas, monospace;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.test-assert.passed {
	background: rgba(0,255,0,0.1);
}

.test-assert.failed {
	background: rgba(255,0,0,0.1);
}

